body {
    font-family: Arial;
    margin: 40px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    background-color: #50264E;
    color: white;
}

.issue {
    page-break-inside: avoid;
    margin-bottom: 30px;
}
